@import "~styles/variables";
@import "~@library/styles/theme";

.masked-text-box {
  position: relative;
  font-size: 1rem;

  .k-maskedtextbox {
    .input-icon {
      position: absolute;
      right: 12px;
      top: 2px;
      cursor: pointer;
    }
  }
}
