$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$primary-body-background-color: #e5e5e5;
$secondary-body-background-color: #ffffff;
$primary-content-background-color: #e3e6e8;
$secondary-content-background-color: #f1f3f5;

$primary-content-text-color: #5a5a5b;

$transitionAnimation: cubic-bezier(0.4, 0, 1, 1);
$color42: #424242;

$primary-heading-color: #0656b1;
$primary-border-color: #b9b9b9;

// general
$error-text-color: #dd7184;
$error-background-color: #fffbfb;
$error-box-shadow-color: #f7ccd0;
$error-border-color: $error-text-color;

// form
$form-padding: 2.3em 1.7em 1.7em;

// tab
$tab-background-color: #f1f3f5;
$tab-padding: $form-padding !important;

// top nav
$top-nav-text-color: #5d5d5d;
$panel-heading-text-color: #404040; //#5d5d5d
$panel-heading-background-color: $secondary-body-background-color;
$panel-body-color: #f1f3f5;
$panel-body-text-color: #717272;
$panel-border-color: $primary-border-color;
$panel-icon-text-color: #7b7b7b;

// Button
$button-tertiary-color: #0857b2; // #065681

// Label
$label-link-color: #0656b1; // #065681

// checkbox
$checked-background-color: #fff;
$checked-color: #0756b1;
$checked-border-color: $primary-border-color;

// Input
$input-background-color: $secondary-body-background-color;
$input-placeholder-color: #c5c5c5;
$input-border-color: #c8c9c9;
$input-background-focus-color: #e9eef3;
$input-border-focus-color: #77a1d2;
$input-box-shadow-focus-color: rgba(0, 123, 255, 0.5);
$input-text-color: #404040;
$input-border-light-color: #e0e0e0;
$input-selection-hover-background-color: #f1f1f1;

// modal
$modal-background-color: #f1f3f5;
$modal-border-color: #bbb;

// Date-Picker
$date-picker-color: #515151;
$date-picker-heading-color: #3576bf;
$date-picker-highlight-color: #5e9acf;
$date-picker-arrow-color: #474747;

//dropdown
$dropdown-selected-item-color: #dd7184;

// Table
$table-background-color: $secondary-body-background-color;
$table-text-color: #404040; // #696969;
$table-header-text-color: #474747;
$table-header-background-color: $secondary-body-background-color;
$table-row-border-color: #d6d6d6; // #e8e8e8;
$table-drag-color: #235a8b;
$table-column-resize-border-color: #e5e5e5;

// Pagination
$pagination-active-text-color: #2680eb;

// Collapse
$collapse-background-color: #cfcfcf;
$collapse-border-color: #bbb;
$collapse-content-background-color: #f1f3f5;

// side-drawer
$close-icon-color: #f70202;

// Eligibility/Authorization tab
$authorization-action-icon-color: #0656b1;
$authorization-border-color: #bbb;
$authorization-background-color: #cfcfcf;
$authorization-text-color: #0c0c0c;
$authorization-back-button-color: #5e9acf;

// Patient Billing
$patient-billing-color: #404040;
$patient-billing-highlight-color: #dd7184;
$patient-billing-name-color: #0656b1;
$patient-billing-border-color: #e0e0e0;

// Note
$note-background-color: $primary-content-background-color;
$note-border-color: #bbbbbb;

$color-BBBBBB: #bbbbbb;

$color-ffffff: #ffffff;

$color-5e9acf: #5e9acf;

$color-276dab: #276dab;

$color-949494: #949494;

$color-787777: #787777;

$color-065681: #065681;

$color-B3CBE7: rgb(199, 179, 231);

$color-000000: #000000;

$color-e7e7e7: #e7e7e7;

$color-f7f7f7: #f7f7f7;

$color-fff: #fff;

$color-000: #000;

$color-404040: #404040;

$color-ccc: #ccc;

$color-0656b1: #0656b1;

$color-8596ad: #8596ad;

$color-dbd17c: #dbd17c;

$color-bb: #bbbbbb;
