@import "~styles/variables";

.drawer-header {
  margin-top: 1em;
  .close {
    float: right;
    margin-right: 1em;
    padding: 0.2em 0.5em;
    cursor: pointer;
    color: $close-icon-color;
  }

  img {
    width: 1em;
    height: 1em;
  }
}

.forward-to {
  width: 1.2em;
  height: 1em;
}

.MuiDrawer-paperAnchorRight {
  width: 25em !important;
}

.MuiDrawer-paper {
  height: 65vh !important;
}

.MuiBackdrop-root {
  background-color: transparent !important;
}
