@import "~styles/variables";

.form-section {
  display: flex;
  flex-direction: column;
  display: -ms-flexbox;
  -ms-flex-direction: column;

  &.bordered {
    border: 0.1em solid $panel-border-color;

    &.border-radius {
      border-radius: 0.5em;
    }
  }

  &.border-left {
    border-left: 0.1em solid $panel-border-color;
  }

  &.border-right {
    border-right: 0.1em solid $panel-border-color;
  }

  &.border-top {
    border-top: 0.1em solid $panel-border-color;
  }

  &.border-bottom {
    border-bottom: 0.1em solid $panel-border-color;
  }

  &.padding {
    padding: $form-padding;
  }

  &.sub-section {
    margin: 1.5em 0;
    padding: 1.5em 0;

    &.sub-section-border {
      border-top: 0.1em solid $panel-border-color;
    }
  }

  .form-field {
    margin: 0.3em 1em;
    vertical-align: top;

    .form-label {
      padding: 0;
      font-weight: 400;
    }
    .form-error {
      font-size: 1rem;
      font-weight: 500;
      color: $error-text-color;
      background: $error-background-color;
      position: relative;
      margin-top: 0.8em;
      padding: 0.8em;
      border: 0.1em solid $error-border-color;
      border-radius: 0.41em !important;

      .form-error-content {
        font-size: 1.2em;
        .icon {
          position: absolute;
          right: 0.7em;
          top: -3.5em;
          font-size: 0.72em;
          background-color: $input-background-color;

          svg {
            width: 1.45em !important;
          }

          :hover {
            display: none;
          }
        }

        .arrow {
          border: solid $error-text-color;
          border-width: 0 0.1em 0.1em 0;
          display: inline-block;
          padding: 0.25em;
          position: absolute;
          top: -0.4em;
          left: 1.2em;
          background: $error-background-color;

          &.up {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
          }
        }
      }
    }

    &:hover {
      .form-error {
        .icon {
          display: none;
        }
      }
    }

    &:focus-within {
      .form-error {
        .icon {
          display: none;
          background-color: transparent;
        }
      }
    }
  }

  .form-action {
    flex-direction: row;
    -ms-flex-direction: row;
  }

  &.layout-vertical {
    flex-direction: column;
    // flex-wrap: wrap;
    -ms-flex-direction: column;
    /*&.left {
            width: calc(100% - 34em);
        }*/
  }

  &.layout-horizontal {
    flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-direction: row;

    &.auto-spacing {
      .section-item {
        margin: 0 0.2em;

        .form-action {
          margin: 0 0.1em;
        }
      }
    }

    .form-field {
      margin: 0.3em 2% 0.3em 0;
      flex-direction: row;
      -ms-flex-direction: row;

      .form-label {
        min-height: 1.8em;
        color: $panel-heading-text-color;
      }

      .form-control {
        .checkbox {
          margin-top: 2em;
        }
      }

      .form-error {
        .form-error-content {
          .icon {
            top: -3.3em;
          }
        }
      }
    }

    &.field-1 {
      .form-field {
        width: 99.99%;
      }
    }
    &.field-2 {
      .form-field {
        width: 48%;
      }
    }
    &.field-4 {
      .form-field {
        width: 23%;
      }
    }
    &.field-5 {
      .form-field {
        width: 18%;
      }
    }
    &.field-6 {
      .form-field {
        width: 15%;
      }
    }
  }

  &.left {
    justify-content: flex-start;
    margin-right: auto;
  }

  &.right {
    justify-content: flex-start;
    margin-left: auto;
  }

  &.center {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &.theme {
    background-color: $panel-body-color;
  }
}
